.classHeaderDescrDiv {
    margin-top: 100px;
    color: #fff;
    font-size: 24px;
}

.classScheduleMainDiv div {
    margin-bottom: 20px;
}

.classGroupIdDiv {
    font-weight: 500;
    font-size: 20px;
}

.classScheduleTextDiv {
    margin-top: -20px;
}

.classSignedBtn {
    width: 200px;
    padding: 7px 15px;
    cursor: pointer;
}

.classVkCloseBtn {
    position: absolute;
    top: 10px;
    left: 3.5%;
    font-size: 17px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10000;
    
}

.classLoginPopupMainDiv {
    padding: 30px;
    text-align: center;
}