.essence-btn {
    display: inline-block;
    min-width: 90%;
    height: 25px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.single-product-wrapper .product-description {
    font-size: 11px;
    padding-top: 12px;
}

.tmpEssenceCartBtnDiv {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  width: 50px;
  line-height: 40px;
}
.tmpEssenceCartBtnDiv {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  width: 90px;
  display: block;
  text-align: center;
  border-left: 1px solid #ebebeb;
  height: 100%;
  line-height: 80px;
}
.tmpEssenceCartBtnDiv {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  display: inline-block;
}

.tmpAddToCartSimbol {
    font-size: 16px; 
    vertical-align: middle;
    margin-left: 10px;
}